a {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.nav-text {
  color: white;
}

.searchBox-container {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 40%;
  left: 15%;
  z-index: 10;
  width: 70%;
  padding: 40px;
  border-radius: 5px;
}

.icon-search {
  width: 52px;
  height: 52px;
  padding: 8px;
}

.search-input {
  padding: 25px 20px;
}

.cursor {
  cursor: 'pointer';
}

.content-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 100px;
  flex-wrap: wrap;
}

.property-card-container {
  width: 1000px;
}

.card-container {
  width: 320px;
}

.card-img {
  height: 320px;
}

.overlay {
  background: rgba(0, 0, 0, .7);
  padding-top: 30%;
}

.login-container {
  background: lightgrey;
  height: 100vh;
  align-items: center;
}

.login-form {
  background: white;
  border-radius: 10px;
  height: 75%;
}

.property-container {
}

.property-search {
  padding: 20px;
}

.footer {
  background-color: #f5f5f5;
}
